.Star {
  aspect-ratio : 1 / 1;
  width: 15px;
  } 
  @media screen and (min-width: 991px) {
    .Star {
      transform: scale(2); /*  translateX(10px) */
      margin: 0 10px 0 10px;
    }
  }
.fullStar {
  aspect-ratio: 1 / 1;
  width: 15px;
  }
@media screen and (min-width: 991px) {
  .fullStar {
    transform: scale(2); /*   */
    margin: 0 10px 0 10px;
    }
}
    