.Home {
    margin-top: 0px;
}
.HomeContainer {
  display: grid;
  gap: 24px;
  grid-template-rows: 350px 350px;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}