.cardWrapper {
  display: flex;
  justify-content: column;
  align-items: center;
  position: relative;
  border-radius: 10px;
  max-width: 335px;
  height: 255px;
  /* transition: 200ms; */
}
.cardWrapper:hover {
    cursor: pointer;
    box-shadow: 2px 2px 10px #2F2E41;
    }
.cardWrapper:hover::after {
    background: unset;
    }
.cardTitle {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    font-weight: 500;
    z-index: 2;
    color: white;
    margin-top: 188px;
    padding: 0 19.71px 15px 19.71px;
}

.cardImage {
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.cardWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    border-radius: 10px;
}

/* medias queries */
@media screen and (min-width: 991px) {
    .cardWrapper {
        max-width: 340px;
        height: 340px;
    }
    .cardWrapper:hover {
        cursor: pointer;
        box-shadow: 2px 2px 10px #2F2E41;
    }
    .cardWrapper::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 10px;
    }
    .cardTitle {
      font-size: 18px;
      margin-top: 268px;
      padding: 0 20px 20px;
    }
    .cardImage {
      max-width: 340px;
      height: 340px;
    }
}