.carouselSection {
    position: relative;
    display: flex;
    background: #FFFFFF;
    height: 255px;
    min-width: 395px;
    padding: 39px 0 0 0;
    margin: 0 10px 0;
}
.carouselImg {
    -o-object-fit: cover;
        object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.chevronLeft {
    position: absolute;
    top: 50%;
    left: 0px;
    padding-left: 5.84px;
    height: 19.8px;
    width: 11.67px;
}
.chevronRight {
    position: absolute;
    top: 50%;
    right: 0px;
    padding-right: 5.84px;
    height: 19.8px;
    width: 11.67px;
}
.housingCount, h2 {
    display: none;
}

/* medias queries */
@media screen and (min-width: 991px) {
    .carouselSection {
        height: 415px;
        max-width: 1240px !important;
        padding: 37px 0 0 0;
        margin: 0 100px 0;
    }
    .carouselImg {
        border-radius: 25px;
    }
    .chevronLeft,
    .chevronRight {
        position: absolute;
    }
    .chevronLeft {
        height: 79.2px;
        width: 46.68px;
        padding-left: 23.36px;
    }
    .chevronRight {
        height: 79.2px;
        width: 46.68px;
        padding-right: 23.36px;
    }
    .housingCount, h2 {
        display: block;
        position: absolute;
        padding-left:50%;
        bottom: 24.92px;
        font-size: 18px;
        color: white;
    }
    .housingCount.hide {
        display: none;
    }
}
