.footerContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 209px;
    min-width: 405px;
    background-color: black;
    color: white;
    margin: 0;
}

.Logo img {
    padding-top: 62px;
    width: 122px;
}
.footerCopyright p {
    font-size: 12px;
    padding-bottom: 62px;
}

/* medias queries */
@media screen and (min-width: 991px) {
    .footerContainer {
        max-width: 1240px;
        font-size: 1.55em;
        margin : 0 100px 0;
    }
    .Logo img {
        padding-top: 66px;
    }
    .footerCopyright p {
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 29px;
    }
}